<%- include('partials/header.ejs') %>
  <h1>Very Sorry, Page not Found!</h1>
  <div class="container-fluid text-center fixed-bottom bg-dark text-white p-1">
      <p>try again pls :)</p>
  </div>




  
<%- include('partials/footer.ejs') %>