<%- include('partials/header.ejs') %>
  <h1>Hello There, Welcome to the Page!</h1>
  <div class="container-fluid text-center fixed-bottom bg-dark text-white p-1">
      <p>Copyright 2020</p>
  </div>




  
<%- include('partials/footer.ejs') %>
