<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAILY ACTIVITY</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>DAILY ACTIVITY</h1>
    <p>HELLO THERE, THIS IS MAY BE YOUR SCHEDULE</p>
    
    <a href="/">Home</a>
    <a href="/todolist">TodoList</a>
    <a href="/todolist/add">AddTodoList</a>
    
    <h2>Ini add TodoList Page</h2>
    <form action="/todolist/add" method="post"> 
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="text" name="type" id="type" placeholder="Type">
        <input type="text" name="status" id="status" placeholder="status">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
