<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAILY ACTIVITY</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>DAILY ACTIVITY</h1>
    <p>HELLO THERE, THIS IS MAY BE YOUR SCHEDULE</p>
    
    <a href="/">Home</a>
    <a href="/todolist">TodoList</a>
    <a href="/todolist/add">AddTodoList</a>
    
    <h2>Ini TodoList Page</h2>
    <table border ="1" cellspacing="0">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>type</th>
                <th>status</th>
                <th>createdAt</th>
                <th>updatedAt</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <% todolists.forEach(TodoLists => { %>
                <tr>
                    <td><%= TodoLists.id %></td>
                    <td><%= TodoLists.name %></td>
                    <td><%= TodoLists.type %></td>
                    <td><%= TodoLists.status %></td>
                    <td><%= TodoLists.createdAt %></td>
                    <td><%= TodoLists.updatedAt %></td>
                    <td><a href="todolist/delete/:<%= TodoLists.id %>">Delete</a>
                    <br><br><a href="todolist/edit/:<%= TodoLists.id %>">Update</td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
