<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunflower Book List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Sunflower Book List</h1>
    <p>When trouble strikes, head to the library. You will either be able to solve the problem, 
    or simply have something to read as the world crashes down on you.
    Do not forget to smile, then. Happy Reading, Happy Exploring!</p>
    
    <a href="/">Home</a>
    <a href="/booklist">BookList</a>
    <a href="/booklist/add">Add BookList</a>
    
    <h2>Page of Add BookList</h2>
    <form action="/students/add" method="post">
        <input type="text" name="title" id="title" placeholder="Title of Book">
        <input type="text" name="author" id="author" placeholder="Author of Book">
        <input type="text" name="genre" id="genre" placeholder="Genre">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
