<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUNFLOWER BOOKSTORE</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>WELCOME TO SUNFLOWER BOOKSTORE</h1>
    <p>HELLO THERE, BE READY FOR THE SUNFLOWER ONBOARDING NOW!</p>
    
    <a href="/">Home</a>
    <a href="/booklist">BookList</a>
    <a href="/booklist/add">AddBookList</a>
    
    <h2>Happy Explore</h2>
    <!-- <%= booklist %> -->
    <table border ="1" cellspacing="0">
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>author</th>
                <th>released_date</th>
                <th>pages</th>
                <th>genre</th>
            </tr>
        </thead>
        <tbody>
            <% BookLists.forEach(booklist => { %>
                <tr>
                    <td><%= BookLists.id %></td>
                    <td><%= BookLists.title %></td>
                    <td><%= BookLists.author %></td>
                    <td><%= BookLists.released_date %></td>
                    <td><%= BookLists.pages %></td>
                    <td><%= BookLists.genre %></td>
                    <td><a href="booklist/delete/ <%= booklist.id %>">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
