<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUNFLOWER BOOKSTORE</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>WELCOME TO SUNFLOWER BOOKSTORE</h1>
    <p>HELLO THERE, BE READY FOR THE SUNFLOWER ONBOARDING NOW!</p>
    
    <a href="/">Home</a>
    <a href="/booklist">BookList</a>
    <a href="/booklist/add">AddBookList</a>
    
    <h2>Happy Explore!</h2>
</body>
</html>
