body {
    padding: 10px;
    background-color: rgb(182, 238, 28);
}

h1 {
    margin: 300px;
}

form {
    margin: 50px;
    width: 50px;
}

label {
    margin: 10px 0;
    font-weight: bold;
}

input {
    padding: 10px;
}

.btn {
    margin: 25px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 2px solid rgb(115, 249, 6);
    text-align: center;
    padding: 10px;
}